@charset "utf-8";

/* reset */
*{margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{
    margin: 0; padding: 0;
}
html {box-sizing: border-box;}
a, li{ list-style: none; text-decoration: none; color: inherit;}
h1, h2, h3, h4, h5, h6{font-size: inherit;}
button{border: none; background: none; cursor: pointer;}
a img{display: block; border: none;}
address, em, i{font-style: normal;}